.board__container {
  max-width: 640px;
  margin: 0 auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.board button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vw;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.board button::after {
  content: '';
  display: block;
  padding-bottom: 100px;
}